.list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-warpper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.list-search {
    flex: 1;
    background-color: #004643;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.search-title {
    color: #ffffee;
    font-style: 20px;
    margin-bottom: 10px;
}

.search-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}

.search-item > label {
    font-style: 12px;
    color: #ffffee;
}

.search-item > input {
    height: 30px;
    padding: 5px;
    border: none;
}
.search-item > span {
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option-warpper {
    padding: 10px;
}

.list-result {
    flex: 3;
}

.option-item-lists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #ffffee;
    font-size: 14px;
}

.option-input {
    width: 50px;
}

.list-search > button {
    padding: 10px;
    background-color: #ffffee;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}
