*,
html,
body {
    margin: 0;
    padding: 0;
    border: none;
}

.home-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #abd1c6;
}

.home-title {
    text-transform: capitalize;
}
