.header {
    background-color: #004643;
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.header-container.list-mode {
    margin: 20px 0px 0px 0px;
}

.header-list {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.header-list-items {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 450;
}

.header-list-items.active {
    border: 2px solid #abd1c6;
    padding: 10px;
    border-radius: 20px;
}

.header-title {
    text-transform: capitalize;
}

.header-disc {
    margin: 20px 0px;
}

.header-btn {
    background-color: #abd1c6;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.header-search {
    height: 30px;
    background-color: #fffffe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    z-index: 2;
}

.header-icon {
    color: #004643;
    width: 25px;
    height: 25px;
}

.header-search-items {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-search-Input {
    border: none;
    outline: none;
}

.header-search-text {
    color: #33272a;
    cursor: pointer;
}

.date-picker {
    position: absolute;
    top: 50px;
    border: 2px solid #abd1c6;
}

.options {
    position: absolute;
    top: 50px;
    background-color: #fffffe;
    color: #004643;
    border: 2px solid #abd1c6;
}

.option-item {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.option-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.option-counter-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
}

.option-counter-button:hover {
    color: #abd1c6;
}

.option-counter-button:disabled {
    cursor: not-allowed;
}

.option-counter-number {
    border-bottom: 1px solid #abd1c6;
    width: 30px;
    text-align: center;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 20px;
}
