.navbar {
    height: 50px;
    background-color: #faeee7;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 100%;
    max-width: 1024px;
    color: #33272a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-weight: 700;
}

.nav-button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #33272a;
}
