.footer {
    width: 100%;
    max-width: 1024px;
    padding: 0 auto;
    font-style: 12px;
    background-color: #abd1c6;
}

.footer-lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-list {
    list-style: none;
    color: #004643;
}
